doctype html
html
  head
    title= title
  body
    h1 Home Page

    //- Existing content
    //- Add your existing home.pug content here

    //- New section for Teams
    h2 Create Team
    form(action='/teams/create', method='post')
      div
        label(for='name') Team Name:
        input(type='text', name='name', required)
      div
        label(for='description') Team Description:
        textarea(name='description', required)
      div
        button(type='submit') Create Team

    h2 All Teams
    ul
      each team in teams
        li= team.name + " - " + team.description

    //- New section for Tasks
    h2 Create Task
    form(action='/tasks/create', method='post')
      div
        label(for='description') Task Description:
        input(type='text', name='description', required)
      div
        label(for='priority') Task Priority:
        input(type='text', name='priority', required)
      div
        label(for='owner') Task Owner:
        input(type='text', name='owner', required)
      div
        label(for='assignee') Task Assignee:
        input(type='text', name='assignee', required)
      div
        button(type='submit') Create Task

    h2 All Tasks
    ul
      each task in tasks
        li= task.description + " - " + task.priority + " - " + task.owner + " - " + task.assignee
